.feature {
  color: #222;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleImage {
  width: 30px;
}

.titleText {
  display: block;
  font-weight: 200;
  font-size: 36px;
  margin-left: 15px;
}

@media (min-width: 576px) {
  .titleText {
    font-size: 50px;
  }

  .titleImage {
    width: 42px;
  }
}

.details {
  margin-top: 12px;
  text-align: center;
}

.text {
  font-size: 24px;
}

.text:visited {
  color: inherit;
}

.featureLine {
  opacity: 0.2;
  margin-top: 30px;
  width: 60%;
  max-width: 180px;
}

@media (min-width: 1280px) {
  .feature {
    flex-basis: 25%;
    margin: 0 20px 40px;
  }

  .details {
    margin-left: 20px;
  }

  .featureLine {
    display: none;
  }
}
