.glowContainer {
  width: 100%;
  position: relative;
  height: 0;
  overflow: visible;
  z-index: -10;
}

.bottomGlow {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100px;
}
