.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: auto;
  position: relative;
}

.appleTrademark {
  font-size: 10px;
  margin: 0px 40px;
  max-width: 480px;
}

.bottomLinks {
  font-size: 21px;
  margin-bottom: 20px;
}

.bottomLinks a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  opacity: 0.8;
}

.bottomLinks a:hover {
  opacity: 1;
}

.bottomLinks * {
  transition: opacity 300ms ease-in-out;
}
