.navbarHeader {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-user-select: none;
  user-select: none;
  transition: color 1s ease-in-out;
}

.navbar ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.navbarStatic {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 5px;
  flex-shrink: 1;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.logoLink {
  margin-right: 30px;
}

.navbar ul {
  list-style-type: none;
}

.navItem {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 20px;
  font-weight: 200;
  height: 40px;
  position: relative;
}

.navCollapse .navItem {
  z-index: 10;
}

.navCollapse .navItem:hover {
  background-color: rgba(0,0,0,0.05);
}

.navItem:visited {
  color: inherit;
}

.collapseContainer {
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.navOpenMore {
  height: 130px;
}

.navClosed {
  height: 0;
  overflow: hidden;
}

.appPickerClosed {
  height: 0;
}

.appPickerOpen {
  height: 130px;
}

.appPicker {
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.wide {
  margin-bottom: 9px;
}

.linkText {
  padding-top: 10px;
  padding-left: 10px;
}

@media (max-width:576px) {
  .navItem {
    display: block;
    margin: 0;
  }

  .wide {
    display: none;
  }

  .navOpenMore {
    height: 210px;
  }

  .navOpen {
    height: 80px;
  }
}

@media (min-width: 577px) {
  .thin {
    display: none;
  }

  .navClosed {
    height: auto;
  }

  .navItem {
    margin-left: 20px;
  }
}
